# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/

# Environment Variables
.env
.env.local
.env.demo.local

# VS Code
.vscode/

# Logs
*.log

# Go binaries
*.exe

# Test caches
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

